.root {
  align-self: center;
  animation: fade-in var(--duration-slow) var(--ease-bob) forwards;
  background-color: var(--primary-background);
  border: 1px solid var(--secondary-foreground);
  border-radius: var(--border-radius-extra-small);
  justify-self: center;
  padding: var(--space-300);
}

.title {
  animation: fade-in var(--duration-slow) var(--ease-bob) 0.2s forwards;
  margin-block: var(--space-100);
  opacity: 0;
  text-align: center;
}

.image {
  animation: fade-in var(--duration-slow) var(--ease-bob) 0.3s forwards;
  border-radius: var(--border-radius-extra-small);
  opacity: 0;
}

.details-list {
  animation: fade-in var(--duration-standard) var(--ease-bob) 0.4s forwards;
  list-style-type: none;
  opacity: 0;
  padding: 0;
  text-align: center;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
