:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --spacing-h-1: 2px;
  --spacing-h-2: 4px;
  --spacing-h-3: 8px;
  --spacing-h-4: 12px;
  --spacing-h-5: 16px;
  --spacing-h-6: 24px;
  --spacing-h-7: 32px;
  --spacing-h-8: 40px;
  --spacing-h-9: 48px;
  --spacing-h-10: 64px;
  --spacing-h-11: 80px;
  --spacing-h-12: 96px;

  --spacing-v-1: 0.125rem;
  --spacing-v-2: 0.25rem;
  --spacing-v-3: 0.5rem;
  --spacing-v-4: 0.75rem;
  --spacing-v-5: 1rem;
  --spacing-v-6: 1.5rem;
  --spacing-v-7: 2rem;
  --spacing-v-8: 2.5rem;
  --spacing-v-9: 3rem;
  --spacing-v-10: 4rem;
  --spacing-v-11: 5rem;
  --spacing-v-12: 6rem;
}

* {
  box-sizing: border-box;
}

#root {
  display: grid;
  align-content: flex-start;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  width: 100vw;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: grid;
  min-width: 320px;
  min-height: 100vh;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
