.root {
  --gutter: var(--space-150);
  --grid-min-item-size: 250px;

  justify-items: center;
  list-style-type: none;
  padding-inline: var(--space-200);
}

.link {
  animation: fade-in var(--duration-slow) var(--ease-bob) forwards;
  border-radius: var(--border-radius-extra-small);
  display: flex;
  opacity: 0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
