.episodes__link {
  animation: fade-in 0.2s ease-in forwards;
  border-radius: 8px;
  display: flex;
  opacity: 0;
}

.episodes__link:focus-visible {
  outline: 2px solid #fff;
  outline-offset: 4px;
  transition: outline-offset 0.2s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
