.root {
  --cluster-horizontal-alignment: center;
  --cluster-gap: var(--space-150);

  animation: fade-in var(--duration-slow) var(--ease-bob) 0.2s forwards;
  height: 32px;
  margin-block: var(--space-100);
  opacity: 0;
}

.root > *:not(:first-child) {
  border-left: 1px solid var(--tertiary-foreground);
  padding-inline-start: var(--space-150);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
