.header {
  background-color: var(--primary-background);
  display: grid;
  grid-template-columns: 1fr auto;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navigation {
  padding: var(--space-100) var(--space-200);
  position: relative;
}

.navigation-link {
  color: var(--primary-foreground);
  border-radius: var(--border-radius-extra-small);
  margin-inline: var(--space-100);
  padding-block: var(--space-50);
}

.navigation-underline {
  animation: fade-in var(--duration-slow) var(--ease-expressive) forwards; /* Hack! :)*/
  background: var(--tertiary-foreground);
  bottom: -1px;
  height: 2px;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  transition: all var(--duration-slow);
  z-index: 1;
}

.theme-toggle {
  align-self: center;
  justify-self: end;
}

.main {
  display: grid;
  grid-template-rows: auto 1fr;
  height: calc(100dvh - 60px);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
