.root {
  animation: fade-in 0.2s ease-in 0.3s forwards;
  padding: var(--spacing-v-12) var(--spacing-h-9);
  opacity: 0;
  text-align: center;
  width: 100%;
}

.title {
  font-size: 1.5rem;
}

.loader {
  width: 60px;
  opacity: 0.7;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
